* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
}

/* Global Styles */

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  color: green;
}

a:link,
a:active,
a:visited {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: square;
  margin-left: 2rem;
}

li {
  margin: 1rem;
}

/* Header */

header {
  background-color: lightgray;
  padding: 2rem 0;
  text-align: center;
  margin-bottom: 50px;
}

.visitor-count,
#counter {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.header-container {
  display: flex;
  justify-content: center;
}

.aws-badge {
  width: 10rem;
}

.title {
  padding: 1rem;
}

.name {
  margin-bottom: 20px;
}

/* Main Content */

.container {
  width: 80%;
  margin: auto;
  padding: 1rem 0;
  border-bottom: 0.2rem solid green;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.job {
  margin-bottom: 2rem;
}

.job-title {
  display: inline-block;
  padding: 5px 0;
}

.employer {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.education {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

footer {
  text-align: center;
  padding: 0.5rem 0;
  background: lightgrey;
  width: 100%;
}

/* Responsive Design */

@media (max-width: 540px) {
  * {
    font-size: 8px;
  }
  .container {
    width: 95%;
  }
}

@media (min-width: 541px) and (max-width: 850px) {
  * {
    font-size: 10px;
  }
  .container {
    width: 85%;
  }
}

@media (min-width: 851px) and (max-width: 1270px) {
  * {
    font-size: 16px;
  }
  .container {
    width: 80%;
  }
}
